


#profilepic{
    float: right;
    border-style:solid;
    margin-top: 40px;
}
h3{
    color:white;
    background-color: lightslategray;
    width: 100%;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
}


.images{
    padding-top: 20px;
}

nav{
    height:30px;
    background-color: rgb(144, 174, 171);
    text-align: center;
    padding-top: 10px;
    position: -webkit-sticky;
    position:sticky;
    top:0;
}


th{
    background-color: gray;
}

button{
    background-color:white;
}
button:hover {
        background-color: blue; /* Green */
        color: white;
}
   